.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:#151719;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    color: white;
    max-width: 100%;
}

.content-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.description-title {
    color: white;
    font-size: 2.4rem;
    font-weight: 300;
}

.description {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: #e3e2e2;
    margin-top: 0.5rem;
    text-align: center;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.team-row {
    display: flex;
    flex-direction: row;
}

.team-title {
    color: white;
    font-size: 2.4rem;
    margin-top: 4rem;
    font-weight: 300;
}

.team-card {
    height: 28rem;
    width: 20rem;
    margin: 1rem;
    border-radius: 10px;
    background: linear-gradient(180deg, #141617 0%, #1f2225 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d1d1d1;
    border: 1px solid #327ee2;
}

.team-img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    filter: grayscale(100%);
}

.team-role {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: #cdcdcd;
    margin-top: 0.5rem;
    text-align: center;
}

@media (max-width: 842px) {
    .team-row {
        flex-direction: column;
        gap: 2rem;
    }

    .about-container {
        height: 155vh;
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column; 
        text-align: center; 
    }

    .description-title {
        color: white;
        font-size: 1.8rem;
    }
}

.white-icon {
    color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.icon-row {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
}

.team-name {
    margin-top: 1rem;
}