.chart-container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: #151719;
}

body {
    background-color: #151719;
}

.chart-title {
    margin-top: 6rem;
    font-size: 2.2rem;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}

.subtitle {
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    color: #b9b9b9;
    margin-top: 0.5rem;
}

.data-container {
   min-width: 75%;
}