.page-container {
    min-height: 100vh;
    background-color: #151719;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.bubble {
    background-color: #20333e;
    border: 2px solid #1e66c4;
    display: flex;
    width: 4.5rem;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    border-radius: 18px;
}

.pricing {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #327ee2;
    font-weight: 600;
}

.your {
    color: #327ee2;
}

.card-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}

@media (max-width: 1001px) {
    .card-row {
        flex-direction: column;
        gap: 2rem;
    }
}