table {
    margin-top: 4rem;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(48, 38, 66, 0.377);
    color: white;
    font-family: 'Inter', sans-serif;
    border-radius: 20px;
    height: 50vh;
    overflow-y: scroll;
    width: 50vw;
    padding: 10px;
}

thead {
    position: sticky;
    font-size: large;
    margin-bottom: 4rem;
    border-bottom: solid 1px white;
    border: solid 1px white;
}
