.table-container {
    margin-top: 4rem;
    min-height: 100vh;
    background-color: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
table {
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    max-width: 100%;
}
thead {
    background-color: #ffffff;
    font-size: 0.9rem;
    border-bottom: 1px solid #777777;
    font-weight: 500;
}
td,
th {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
a{
    color: #195CB6;
    font-weight: bold;
}
tr {
    background-color: #ffffff;
    color: black;
}
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 4rem;
}
button {
    background: #195CB6;
    border-radius: 0.625rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button {
  scale: 1.07;
  transition: 0.3s;
}