.table-container {
    margin-top: 4rem;
    min-height: 100vh;

table {
    font-family: 'Inter', sans-serif;
    border-collapse: collapse;
    max-width: 100%;
    color: #ededed;
}
thead {
    background-color: #195CB6;
    font-size: 1.4rem;
}
td,
th {
    border: 1px solid #555050;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
tr:nth-child(even) {
    background-color: #195db683;
}
tr:nth-child(even) a{
    color: #bcbcbc;
    font-weight: bold;
    text-decoration: underline;
}
a{
    color: #195CB6;
    font-weight: bold;
    text-decoration: underline;
}
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding-bottom: 4rem;
}
button {
    background: #195CB6;
    border-radius: 0.625rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button {
  scale: 1.07;
  transition: 0.3s;
}