.footer-container {
    width: 100%;
    height: 15vh;
    background-color: #151719;
    border-top: 3px solid rgba(75, 76, 84, 0.382);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.footer-container p {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: #b9b9b9;
}

.white {
    font-size: 2rem;
    color: white;
    margin: 1rem;
    cursor: pointer;
}

